$font-primary: Raleway, Arial, Helvetica, sans-serif;
$font-secondary: Futura, Helvetica Neue, sans-serif;
$color-primary: #ffd400;
$color-secondary: #dadada;
$color-background: #000000;
$color-highlight: #E89B36;
$breakpoint-medium: 730px;