.footer {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    color: #ffd400;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin: auto;
    padding: 10px;
}