.working {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: solid 0.5px wheat;
    height: 500px;
}

.footer-working {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: solid 0.5px wheat;
    height: 200px;
}



.xray {
    display: none;
}

.xray-mobile {
    display: contents;
}





@media screen and (min-width: 730px) {
    .xray {
        display: contents;
    }

    .xray-mobile {
        display: none;
    }
}